---
title: Blog von Micha Rosenbaum
---

# Blog von Micha Rosenbaum

Herzlich Willkommen auf meiner Blogwiese. Schau dich ruhig um, mach’s
dir bequem, nehm’ dir einen Kaffee. Was ein Blog ist, weißt du
bestimmt. Es gibt bei Plasisent keine Kommentare. Ich freue mich
dennoch darüber mit dir in Kontakt zu kommen. Schreibe mir gerne eine
Mail oder antworte in deinem eigenen Blog.

<p><b>Micha Rosenbaum</b><br />grüßt freundlich.</p>

<% count = 3 %>
<% index = 0 %>

<h2>Die drei neusten Artikel</h2>
<ol class="list-of-short-posts">
<% sorted_posts.each do |post| %>
  <%= render '/partials/short_post_in_list.*', post: post %>
  <% index += 1 %>
  <% break if index == count %>
<% end %>
</ol>

<%= load_snippet "Empfohlene Blogs" %>

<h2>Vorher veröffentlichte Artikel</h2>
<ol class="list-of-short-posts">
<% until index > count**2 do %>
  <%= render '/partials/short_post_in_list.*', post: sorted_posts[index] %>
  <% index += 1 %>
<% end %>
</ol>

<nav>
  <h3>Jahres-Archive von Plasisent</h3>
  <ol reversed>
    <li><%= link_to '2019', @items['/2019.*'].path %></li>
    <li><%= link_to '2018', @items['/2018.*'].path %></li>
    <li><%= link_to '2017', @items['/2017.*'].path %></li>
    <li><%= link_to '2016', @items['/2016.*'].path %></li>
    <li><%= link_to '2015', @items['/2015.*'].path %></li>
    <li><%= link_to '2014', @items['/2014.*'].path %></li>
  </ol>
</nav>
