---
title: Blog von Micha Rosenbaum
description: Das mehr oder weniger politische Blog von Micha Rosenbaum.
---

# Blog von Micha Rosenbaum

Herzlich Willkommen auf meiner Blogwiese. Schau dich ruhig um, mach’s dir
bequem, nehm’ dir einen Kaffee. Bei **Plasisent** spreche ich ein paar Themen
an, die mir wichtig sind. Was mich aktuell so beschäftigt erkennst du direkt
an der nächsten Überschrift.

<p><em>Micha Rosenbaum</em><br />grüßt freundlich.</p>

<% count = 7 %>
<% index = 0 %>

<% sorted_posts.each do |post| %>

<% if post[:kind] == 'article' %>
<article>
  <% render "article", item: post do %>
    <%= post.compiled_content %>
  <% end %>
</article>

<% if index == 0 %>
  <aside><%= load_snippet "Empfohlene Artikel" %></aside>
<% end %>

<% if index == 1 %>
  <aside><%= load_snippet "Empfohlene Blogs" %></aside>
<% end %>

<% index += 1 %>
<% break if index == count %>
<% end %>

<% if post[:kind] == 'note' %>
  <% render 'note', item: post do %>
    <%= post.compiled_content %>
  <% end %>
<% end %>

<% end %>

<nav>
  <h3>Jahres-Archive von Plasisent</h3>
  <ul>
    <li><%= link_to '2016', @items['/2016/'].path %></li>
    <li><%= link_to '2015', @items['/2015/'].path %></li>
    <li><%= link_to '2014', @items['/2014/'].path %></li>
  </ul>
</nav>
