%h1= item[:title]

- if item[:posts]
  %ol
    - item[:posts].each do |i|
      %li<
        %em
          -# TODO: This code that creates links to the archives is nearly the same, as somewhere else.
          - idate = i[:created_at]
          = idate.strftime("%-d %B")
          - year_link = link_to idate.strftime("%Y"), "/#{idate.strftime("%Y")}/"
          - week_link = link_to "Woche #{idate.strftime("%-V")}", "/#{idate.strftime("%Y")}/kw-#{idate.strftime("%V")}/"
          = "(#{year_link}, #{week_link})"
        %br/
        = link_to i[:title], i.path

-#%h2 Neue Themen -# TODO
 
- if item[:referenced_tags]
  %h2 Angesprochene Themen
  %p= link_tags item, :referenced_tags
