!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}
    %title= @item.title
    %style{type: "text/css"}
      = @items["/assets/styles/critical/"].raw_content.gsub(/^$\n/, '')
    %link{rel: "stylesheet", href: @items["/assets/styles/master/"].path}
    %link{rel: "alternate",  href: @items["/feed/"].path, type: "application/atom+xml", title: @config[:title]}
    %link{rel: "webmention", href: "http://plasisent.org/webmention/"}
    %link{rel: "pingback", href: "https://webmention.io/webmention?forward=http://plasisent.org/webmention/"}
    %link{rel: "profile", href: "http://osprotocol.com"}
    %meta{property: "os:repo", content: "https://github.com/rosetree/plasisent.org"}
    %meta{property: "os:rcs_type", content: "git"}
    %meta{property: "os:src", content: "git@github.com:rosetree/plasisent.org"}
    - if @item[:description]
      %meta{name: "twitter:card", content: "summary"}
      %meta{name: "twitter:site", content: "@r0setree"}
      %meta{name: "twitter:title", content: @item.title}
      %meta{name: "twitter:description", content: @item[:description]}
      %meta{name: "description", content: @item[:description]}
    %meta{name: "viewport",  content: "width=device-width,initial-scale=1"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    - if @item.shortlink
      %link{rel: "shortlink", href: @item.shortlink}
  %body

    %h1{style: "display:none"} Plasisent

    %nav
      %ul
        %li= link_to "Plasisent", @items["/"].path, {rel: "home"}
        %li= link_to "Blogroll", @items["/blogroll/"].path
        %li= link_to "Feed", @items["/feed/"].path, {rel: "alternate", type: "application/atom+xml"}

    - if @item[:cleaned?] == false
      = load_snippet("Warnung Unbereinigter Import") % link_to("Datei auf GitHub", @item.github_url)

    -#
      After the header is done, load a different layout for each kind of
      content you want to create. The kind could be one of the following:

      * page
      * article
      * category / tag
      * quicky
      * archive

    %main{role: "main"}

      - case @item[:kind]
      - when "archive"
        = render "archive" do
          yield
      - when "note"
        = render "note" do
          ~ yield
      - when "article"
        = render "article" do
          ~ yield
      - else
        ~ yield


    %footer{role: "contentinfo"}
      -# FIXME: Why am I using `item` instead of `@item` from here?

      - if @item.github_url != "" or @item.shortlink
        %h2{title: "Metadaten von „#{item[:title]}“."} Metadaten

        %p
          - unless @item.github_url == ""
            Den Quelltext dieser Seite findest du auf #{link_to "GitHub", @item.github_url}.

          - if @item[:modified_at] && @item[:modified_at].length > 1
            Diese Seite wurde mehrmals bearbeitet, eine #{link_to 'Liste aller Änderungen', @item.github_url('history')} gibt es auf GitHub.

          - if @item.shortlink
            Willst du einen kürzeren Link zu dieser Seite? Bitte: #{link_to @item.shortlink, @item.shortlink}

      %h2 Sonst noch was?

      = load_snippet("Follow Me") % {mailtolink: @item.reply_to_mailto_link}
