!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}
    %title #{@item[:title]} | Plasisent
    %link{rel: "stylesheet", href: 'http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700,400italic,700italic'}
    %link{rel: "stylesheet", href: @items["/assets/styles/master/"].path}
    %link{rel: "alternate",  href: @items["/feed/"].path, type: "application/atom+xml"}
    %meta{name: "viewport",  content: "width=device-width,initial-scale=1"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    - if item[:prev] or item[:next]
      - if item[:prev]
        %link{rel: "prev", title: item[:prev][:title], href: item[:prev].path}
      - if item[:next]
        %link{rel: "next", title: item[:next][:title], href: item[:next].path}
  %body
    %nav
      %p
        = link_to "Plasisent", @items["/"].path, title: @items["/"][:title]
        = link_to "Regale", @items["/regal/"].path
        = link_to "Aktuelle Woche", last_week_archive.path, title: snippet_for_title("Title Nav Aktuelle Woche")
        = link_to "Suche", @items["/suche/"].path, title: snippet_for_title("Title Nav Suche")
        = link_to "Kontakt", "http://rosetree.de/micha/"

    - if @item[:cleaned?] == false
      = load_snippet("Warnung Unbereinigter Import") % link_to("Datei auf GitHub", @item.github_url)

    -#
      After the header is done, load a different layout for each kind of
      content you want to create. The kind could be one of the following:

      * page
      * article
      * category / tag
      * quicky
      * archive

    - case @item[:kind]
    - when "category"
      - category_items = all_items_with_category item[:name] || item[:title]
      = render "category", :category_items => category_items do
        = yield
    - when "tag"
      = render "tag" do
        = yield
    - when "archive"
      = render "archive" do
        yield
    - when "article"
      = render "article" do
        ~ yield
    - else
      ~ yield


    -# Footer Ersatz
    %h1< Anhang

    -# FIXME: Why am I using `item` instead of `@item` from here?
    - if item[:prev] or item[:next]
      %p
        - if item[:prev]
          #{link_to item[:prev][:title], item[:prev].path}
          ←
        - if item[:next]
          → #{link_to item[:next][:title], item[:next].path}

    - category_link = ""
    - if item[:category]
      - category_link = link_category item

    - if item[:tags] or category_link != "" or @item.github_url != ""
      %h2{title: item[:title]} Dieser Beitrag …

    - if category_link != ""
      %p … ist eingeordnet im Regal #{category_link}.

    - if item[:tags]
      %p … behandelt die Themen #{link_tags item}.

    - unless @item.github_url == ""
      %p … ist auf #{link_to "GitHub", @item.github_url} zu finden.

    %h2 Sonst noch was?

    = load_snippet "Follow Me"
