!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %style{type: "text/css"}
      = @items["/assets/styles/critical.*"].raw_content.gsub(/^$\n/, '')
    %link{rel: "stylesheet", href: @items["/assets/styles/master.*"].path}
    %link{rel: "alternate",  href: @items["/feed.*"].path, type: "application/atom+xml", title: @config[:title]}
    %link{rel: "stylesheet", href: @items["/assets/fonts/go/stylesheet.*"].path}
    %link{rel: "webmention", href: "http://plasisent.org/webmention/"}
    %link{rel: "pingback", href: "https://webmention.io/webmention?forward=http://plasisent.org/webmention/"}
    - if @item[:description]
      %meta{name: "description", content: @item[:description]}
    %meta{name: "viewport",  content: "width=device-width,initial-scale=1"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    - if page_shortlink
      %link{rel: "shortlink", href: page_shortlink}
  %body

    %main{role: "main"}

      - case @item[:kind]
      - when "archive"
        = render "/archive.*" do
          yield
      - when "note"
        = render "/note.*" do
          ~ yield
      - when "article"
        = render "/article.*" do
          ~ yield
      - else
        ~ yield

    %footer{role: "contentinfo"}
      - if page_github_url != "" or page_shortlink
        %nav
          %h2 Über die aktuelle Seite
          %ul
            - unless page_github_url == ""
              %li= link_to 'Quelltext bei GitHub', page_github_url, {rel: 'nofollow'}
            - if @item[:modified_at] && @item[:modified_at].length > 1
              %li= link_to 'Liste aller Änderungen', page_github_url('history'), {rel: 'nofollow'}
            - if page_shortlink
              %li Shortlink: #{link_to page_shortlink, page_shortlink}
            %li Kommentare an #{@item[:author_name]} (#{reply_to_mailto_link})

      - if @item[:cleaned?] == false
        = load_snippet("Warnung Unbereinigter Import") % link_to("Datei auf GitHub", page_github_url, {rel: 'nofollow'})

      %nav
        %h1 Plasisent Navigation
        %ul
          %li= link_to 'Aktuelle Posts', @items['/index.*'].path, {rel: 'home'}
          %li= link_to 'Blogroll', @items['/blogroll.*'].path
          %li= link_to 'Feed', @items['/feed.*'].path
