!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}
    %title #{@item[:title]} | Plasisent
    %link{rel: "stylesheet", href: 'http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700,400italic,700italic'}
    %link{rel: "stylesheet", href: @items["/styles/master/"].path}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    - if item[:prev] or item[:next]
      - if item[:prev]
        %link{rel: "prev", title: item[:prev][:title], href: item[:prev].path}
      - if item[:next]
        %link{rel: "next", title: item[:next][:title], href: item[:next].path}
  %body
    %nav
      %p
        = link_to "Plasisent", @items["/"].path, title: @items["/"][:title]
        %a{href: "https://github.com/rosetree/plasisent.org"}<
          GitHub Repository
          -# TODO: Link current page in Github?
        = link_to "Aktuelle Woche", last_week_archive.path, title: "Okay, „aktuell“ ist hier vielleicht nicht der richtige Begriff, aber was soll ich den sonst schreiben? „Letzte Woche in der ich etwas veröffentlicht habe“? Viel zu lang. Im moment ist das aber #{last_week_archive[:title]}."
        = link_to "Kontakt", "http://rosetree.de/micha/"

    %p< Dies ist die #{'<b>Vorschau</b>'} auf die neue Version meines Blogs. Die aktuelle Version findest du unter #{link_to "plasisent.org", "http://plasisent.org"}. Ich freue mich über Kritik und Lob. Schreib mir doch einfach eine E-Mail.

    -#
      After the header is done, load a different layout for each kind of
      content you want to create. The kind could be one of the following:

      * page
      * article
      * category / tag
      * quicky
      * archive

    - case @item[:kind]
    - when "category"
      - category_items = all_items_with_category item[:name] || item[:title]
      = render "category", :category_items => category_items do
        = yield
    - when "tag"
      = render "tag" do
        = yield
    - when "archive"
      = render "archive" do
        yield
    - when "article"
      -# TODO: I am not sure, whether or not I should add the headline to an
          article in the layout or in the text …
      %h1= @item[:title]
      = yield
    - else
      = yield


    -# Footer Ersatz
    %h1< Anhang

    - if item[:prev] or item[:next]
      %p
        - if item[:prev]
          #{link_to item[:prev][:title], item[:prev].path}
          ←
        - if item[:next]
          → #{link_to item[:next][:title], item[:next].path}

    - category_link = ""
    - if item[:category]
      - category_link = link_category item

    - if item[:tags] or category_link != "" or item[:created_at]
      %h2{title: item[:title]} Dieser Beitrag …

    - if item[:created_at]
      %p … wurde geschrieben am #{item.linked_date_information}

    - if category_link != ""
      %p … ist eingeordnet im Regal #{category_link}.

    - if item[:tags]
      %p … behandelt die Themen #{link_tags item}.

    %h2 Alle Regale
    %ul
      - all_categories.each do |cat|
        %li= link_to cat[:title], cat.path
