!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}
    %title= @item.title
    %style{type: "text/css"}
      = @items["/assets/styles/critical/"].raw_content.gsub(/^$\n/, '')
    %link{rel: "stylesheet", href: @items["/assets/styles/master/"].path}
    %link{rel: "alternate",  href: @items["/feed/"].path, type: "application/atom+xml", title: @config[:title]}
    %link{rel: "webmention", href: "http://plasisent.org/webmention/"}
    %link{rel: "pingback", href: "https://webmention.io/webmention?forward=http://plasisent.org/webmention/"}
    %link{rel: "profile", href: "http://osprotocol.com"}
    %meta{property: "os:repo", content: "https://github.com/rosetree/plasisent.org"}
    %meta{property: "os:rcs_type", content: "git"}
    %meta{property: "os:src", content: "git@github.com:rosetree/plasisent.org"}
    - if @item[:description]
      %meta{name: "twitter:card", content: "summary"}
      %meta{name: "twitter:site", content: "@plasisent"}
      %meta{name: "twitter:title", content: @item.title}
      %meta{name: "twitter:description", content: @item[:description]}
      %meta{name: "description", content: @item[:description]}
    %meta{name: "viewport",  content: "width=device-width,initial-scale=1"}
    %meta{name: "generator", content: "nanoc #{Nanoc::VERSION}"}
    - if @item.shortlink
      %link{rel: "shortlink", href: @item.shortlink}
  %body

    - if @item[:cleaned?] == false
      = load_snippet("Warnung Unbereinigter Import") % link_to("Datei auf GitHub", @item.github_url)

    -#
      After the header is done, load a different layout for each kind of
      content you want to create. The kind could be one of the following:

      * page
      * article
      * category / tag
      * quicky
      * archive

    %main{role: "main"}

      - case @item[:kind]
      - when "archive"
        = render "archive" do
          yield
      - when "note"
        = render "note" do
          ~ yield
      - when "article"
        = render "article" do
          ~ yield
      - else
        ~ yield

    %footer{role: "contentinfo"}
      - if @item.github_url != "" or @item.shortlink
        %nav
          %h2 Hintergründe der aktuellen Seite
          %ul
            - unless @item.github_url == ""
              %li= link_to 'Quelltext auf GitHub', @item.github_url
            - if @item[:modified_at] && @item[:modified_at].length > 1
              %li= link_to 'Liste aller Änderungen', @item.github_url('history')
            - if @item.shortlink
              %li Shortlink: #{link_to @item.shortlink, @item.shortlink}
            %li Kommentare an #{@item[:author_name]} (#{@item.reply_to_mailto_link})


      %nav
        %h1 Plasisent Navigation
        %ul
          %li= link_to 'Aktuelle Posts', @items['/'].path, {rel: 'home'}
          %li= link_to 'Blogroll', @items['/blogroll/'].path
          %li= link_to 'Feed', 'http://plasisent.org/feed/'
